[Unit]
Description=Wakora Agent
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/wakora
Restart=always
RestartSec=3
User=root
StateDirectory=wakora

Nice=10
CPUQuota=30%
CPUWeight=20
OOMScoreAdjust=500
LimitMEMLOCK=infinity
IOSchedulingClass=best-effort
IOSchedulingPriority=7

NoNewPrivileges=no
ProtectHome=read-only
ProtectSystem=strict
ReadWritePaths=/etc/wakora /var/lib/wakora /var/log/wakora /usr/local/bin
ProtectControlGroups=yes

[Install]
WantedBy=multi-user.target
